@font-face {
    font-family: CustomFontSB;
    src: url('../fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: CustomFontB;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}


html, body {
  background-color: #f7f4eb;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  cursor: none;
  }
  
  h1,h2, h3, .langb  {
    color:#212124;
  }

  h1, .langb {
    font-family: 'CustomFontB';
    font-weight: 400;
  }

  h2, h3, p  {
    font-family: 'CustomFontSB';
  }

  NuxtLink, a {
    text-decoration: none;
    cursor: none;
    
  }

  .langb {
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
  }

  /*phones*/
  @media screen and (max-width: 500px) {

    .introtext {
        padding-top: 1vh;
    }

    .toph1 {
        font-size: 6vh;
        padding: 4vh 0 2vh 2vh;
    }

    .comph1 {
        font-size: 5vh;
        padding: 4vh 0 0 2vh;
    }

    .botth1 {
        display: inline-block;
        margin: 0;
    }

    h2, h3 {
        font-size: 3.5vh;
    }
  
    h3 {
        padding: 0 4.5vw;
        display: none;
    }

    .icon {
        padding: 3vh 7vw;
    }

    .icon:hover + h3 {
        display: block;
    }

    .nav {
        padding-left: 4vh;
        position: fixed;
        /* bottom: 0; */
    }

    h1, h2 {
       padding-left: 5%;
       margin: 0;
    }

    h2 {
        padding-top: 2vh;
        width: 80%;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }
  
    }
  
  /*desktop*/
  @media screen and (min-width: 1200px) {

    .icon {
      display: none;
    }

    .introtext {
      display: none;
    }

    .nav {
      position: relative;
      /* display: none; */
      display: flex;
      align-items: center;
      left: 20vw;
      bottom: 6vh;
    }

    NuxtLink, a {
      padding: 0 2vw 0 2vw;
    }

    .headert {
      font-family: 'CustomFontB' !important;
      font-size: 3vh;
    }

    .comph1 {
      padding: 0 0 0 4vw;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }

  
  }
    