@font-face {
    font-family: CustomFontSB;
    src: url('../fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: CustomFontB;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}


html, body {
  background-color: #f7f4eb;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  cursor: none;
  }
  
  h1,h2, h3, .langb  {
    color:#212124;
  }

  h1, .langb {
    font-family: 'CustomFontB';
    font-weight: 400;
  }

  h2, h3, p  {
    font-family: 'CustomFontSB';
  }

  NuxtLink, a {
    text-decoration: none;
    cursor: none;
    color: #212124;
  }

  NuxtLink:hover, a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
  }

  .langb {
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    cursor: none;
  }

  /*phones*/
  @media screen and (max-width: 600px) {
    .herodiv {
      position: relative;
      left: 5vw;
      top: 9vh;
    }

    .heroimg {
      height: 45vh;
      width: auto;
    }

    #inner, #outer {
      display: none;
    }

    .introtext {
        padding: 1vh 0 0 1vw;
    }

    .introh2 {
      font-size: 2.3vh;
    }

    .toph1 {
        font-size: 6vh;
        padding: 4vh 0 2vh 2vh;
    }

    .comph1 {
        font-size: 5vh;
        padding: 4vh 0 0 2vh;
    }

    .botth1 {
        display: inline-block;
        margin: 0;
    }

    h2, h3 {
        font-size: 3.5vh;
    }
  
    h3 {
        padding: 0 4.5vw;
        display: none;
    }

    .icon {
        padding: 1vh 5vw;
        z-index: 10;
    }

    .icon:hover + h3 {
        display: block;
    }

    .nav {
        padding-left: 10vw;
        position: fixed;
        bottom: 0;
        z-index: 10;
        background-color: #f7f4eb;
    }

    h1, h2 {
       padding-left: 5%;
       margin: 0;
    }

    h2 {
        padding-top: 2vh;
        width: 80%;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }

    .langb {
      font-size: 3vh;
    }

    .socials {
      display: none;
    }
  
    }
  
  /*desktop*/
  @media screen and (min-width: 1200px) {

    .circle {
      position: relative;
      left: 33vw;
      bottom: 15vh;
    }

    .circle1 {
      position: relative;
      left: 60vw;
      bottom: 45vh;
    }

    .circle2 {
      position: relative;
      left: 50vw;
      bottom: 15vh;
    }

    .circle3 {
      position: relative;
      left: 34vw;
      bottom: 70vh;
    }

    .circle4 {
      position: relative;
      left: 48vw;
      bottom: 88vh;
    }

    .herodiv {
      position: relative;
      top: 10vh;
      left: 33vw;
    }

    .heroimg {
      height: 65vh;
      width: auto;
    }

    .icon {
      display: none;
    }

    .introtext {
      display: none;
    }

    .socials {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 4;
      float: right;
      transform: rotate(90deg);
      top: 40vh;
      left: 3vw;
      font-size: 2.7vh;
    }

    .nav {
      position: relative;
      /* display: none; */
      display: flex;
      align-items: center;
      left: 20vw;
      bottom: 6vh;
    }

    NuxtLink, a {
      padding: 0 2vw 0 2vw;
    }

    .headert {
      font-family: 'CustomFontB' !important;
      font-size: 3vh;
    }

    .comph1 {
      padding: 0 0 0 4vw;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }

  
  }
    