@font-face {
    font-family: CustomFontSB;
    src: url('../fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: CustomFontB;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}


html, body {
  background-color: #f7f4eb;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  cursor: none;
  overflow-y: auto ;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  }
  
  h1,h2, h3, .langb  {
    color:#212124;
  }

  h1, .langb {
    font-family: 'CustomFontB';
    font-weight: 400;
  }

  h2, h3, p  {
    font-family: 'CustomFontSB';
  }

  NuxtLink, a {
    text-decoration: none;
    cursor: none;
    color: #212124;
  }

  NuxtLink:hover, a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
  }

  .langb {
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    cursor: none;
  }

  /*phones*/
  @media screen and (max-width: 600px) {

    .herodiv {
      padding: 5vh 12.5% 0 12.5% !important;
      /* position: relative; */
      
    }

    .heroimg {
      height: 40vh;
      width: auto;
    
      
      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-name: floaty; 
    }

    @keyframes floaty {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }


    #inner, #outer {
      display: none;
    }

    .introtext {
        padding: 1vh 0 0 1vw;
    }

    .introh2 {
      font-size: 2.2vh;
    }

    .toph1 {
        font-size: 5vh;
        padding: 4vh 0 2vh 2vh;
    }

    .comph1 {
        font-size: 4vh;
        padding: 4vh 0 3vh 2vh;
    }

    .botth1 {
        display: inline-block;
        margin: 0;
    }

    h2, h3 {
        font-size: 3.5vh;
    }
  
    h3 {
        padding: 0 4.5vw;
        display: none;
    }

    .icon {
        padding: 1vh 5vw;
        z-index: 10;
    }

    .icon:hover + h3 {
        display: block;
    }

    .nav {
      width: 100%;
      padding-left: 18vw;
      position: fixed;
      bottom: 0;
      z-index: 10;
      background-color: #f7f4eb;
    }

    NuxtLink, a {
      padding: 0 1vw 0 1vw;
    }

    h1, h2 {
       padding-left: 5%;
       margin: 0;
    }

    h2 {
        padding-top: 2vh;
        width: 80%;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }

    .langb {
      font-size: 3vh;
    }

    .socials {
      display: none;
    }

    .circle, .circle1, .circle2, .circle3, .circle4 {
      display: none;
    }
    .conthi {
      display: none;
    }

    .garlic {
      height: 27vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .abouttxt {
      padding: 1.5vh 0 0 0;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      font-size: 2.4vh;
    }

    .scroll-down{
      display: none;
    }
    
    .modal, .modal-overlay, .close {
      display: none;
    }
    
    .card {
      display: block;
    }

    .card-content {
      position: relative;
      width: 80%;
      left: 7vw;
      padding-bottom: 4vh;
    }
  
    .cimg {
      height: 18vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 3vh;
    }

    .pctext, .pcard {
      font-size: 2.2vh;
    }

    .pctext {
      margin-bottom: 0;
    }

    .acard, .pcard {
      padding: 0 !important;
    }

    .pdivcard {
      display: flex;
    }

    .acard {
      width: 20%;
    }

    }
  
  /*desktop*/
  @media screen and (min-width: 1200px) {

    .circle {
      position: relative;
      left: 33vw;
      bottom: 15vh;
    }

    .circle1 {
      position: relative;
      left: 60vw;
      bottom: 45vh;
    }

    .circle2 {
      position: relative;
      left: 50vw;
      bottom: 15vh;
    }

    .circle3 {
      position: relative;
      left: 34vw;
      bottom: 70vh;
    }

    .circle4 {
      position: relative;
      left: 48vw;
      bottom: 88vh;
      z-index: 1;
    }

    .herodiv {
      position: relative;
      top: 10vh;
      left: 34vw;
      width: 40%;
    }

    .heroimg {
      height: 65vh;
      width: auto;
      z-index: 2;

      animation-duration: 4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-name: floaty; 
    }

    @keyframes floaty {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }

    .icon {
      display: none;
    }

    .introtext {
      display: none;
    }

    .socials {
      position: fixed;
      display: flex;
      align-items: center;
      z-index: 4;
      float: right;
      transform: rotate(90deg);
      top: 40vh;
      left: 90%;
      font-size: 2.7vh;
    }

    .nav {
      position: relative;
      display: flex;
      align-items: center;
      left: 20vw;
      bottom: 6vh;
    }

    NuxtLink, a {
      padding: 0 2vw 0 2vw;
    }

    .headert {
      font-family: 'CustomFontB' !important;
      font-size: 3vh;
    }

    .comph1 {
      font-size: 5vh !important;
      padding: 0 0 0 4vw;
    }

    .langbuttons {
      padding: 2vh 0 0 2vh;
    }

    .abouttxt {
      font-size: 2.8vh;
      margin: 0 auto;
      padding: 15vh 0 0 0;
      flex: 4;
      width: 40%;
    }

    .circle > .hover-text {
      right: 23vw;
      bottom: 7vh;
    }

    .circle1 > .hover-text {
      left: 3vw;
      bottom: 8vh;
    }

    .circle2 > .hover-text {
      left: 10vw;
      bottom: 7vh;
    }

    .circle3 > .hover-text {
      right: 20vw;
      bottom: 9vh;
    }

    .circle4 > .hover-text {
      right: 7vw;
      bottom: 17vh;
    }

    .garlictxt {
      position: relative;
      display: flex;
      width: 60%;
      left: 13vw;
      padding-bottom: 10vh;
    }

    .garlic {
      height: 45vh;
      position: relative;
      flex: 1;
    }
  
  }
    